.categoriesSubGenreCard{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem var(--borderPadding);
    color: var(--white);
    font-family: var(--fontFamily);
    font-size: 0.8rem;
    -font-size: 0.8rem;
}

.categoriesSubGenreCard:last-of-type{
    padding: 0.5rem var(--borderPadding) 2rem var(--borderPadding);
}

.categoriesSubGenreCard__text{
    margin: 0;
}

.categoriesSubGenreCard__chevron{
    height: auto;
    width: 0.4rem;
}