.playlistsSong{
    display: grid;
    grid-template-columns: 0.6fr 4fr 1fr;
    margin: 0.5rem 0;
}

.playlistsSong__playButton{
    border-radius: 50%;
    background: var(--gradientHorizontalIcons);
    outline: none;
    border: none;
    height: 1.8rem;
    width: 1.8rem;
    display: grid;
    margin: 0.2rem 0;
    align-self: center;
}

.playlistsSong__playButton img{
    place-self: center;
    padding-left: 1.5px;
}

.playlistsSong__textContainer{
    color: #FFF;
    font-family: var(--fontFamily);
    margin-top: 0.2rem;
    margin-left: 0.8rem;
}

.playlistsSong__song{
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlistsSong__artist{
    font-weight: 300;
    font-size: 0.7rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlistsSong__duration{
    font-family: var(--fontFamily);
    color: #FFF;
    font-size: 0.7rem;
    text-align: end;
    margin: 0;
    align-self: center;
}