.playlists{
    display: grid;
    padding: 0;
    padding-bottom: 6rem;
}

.playlists .playlists__backgroundImage{
    overflow: hidden;
    max-width: 100%;
    grid-area: 1/1/-1/-1;
}

.playlists .heading{
    padding: 2em var(--borderPadding);
    grid-area: 1/1/2/2;
}

.playlists .playlistsRotary{
    grid-area: 1/1/2/2;
}

.playlists .playlists__songs{
    padding: 0 var(--borderPadding) 1rem var(--borderPadding);
}