.playlists{
    display: grid;
    padding: 0;
}

.playlists__backgroundImage{
    overflow: hidden;
    max-width: 100%;
    grid-area: 1/1/-1/-1;
}

.heading{
    padding: 2em var(--borderPadding);
    grid-area: 1/1/2/2;
}

.playlistsRotary{
    grid-area: 1/1/2/2;
}

.playlists__songs{
    padding: 0 var(--borderPadding) 4rem var(--borderPadding);
}