.player{
    padding: 0 var(--borderPadding);
    max-height: 100vh;
}

/* .player .backgroundImage{
    grid-area: 1/1/2/2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
} */