@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); /* fallback font */

:root{
    --primaryColor: #FF1168;
    --secondaryColor: #341931;
    --additionalColor: #111625;
    --gradientHorizontal: linear-gradient(90deg, rgba(238,11,117,1) 0%, rgba(254,103,2,1) 100%);
    --gradientVertical: linear-gradient(180deg, rgba(238,11,117,1) 0%, rgba(254,103,2,1) 100%);
    --darkBlue: #115793;
    --blue: #00A1CB;
    --lightBlue: #0ABEBE;
    --darkGreen: #3A7634;
    --lightGreen: #5EB11C;
    --yellow: #F2BC06;
    --orange: #F18D05;
    --coral: #E54028;
    --white: #FEFFFA;
    --fontFamily: 'Poppins', 'Open Sans', sans-serif;
    --boxShadow: 0px 0px 25px rgba(0,0,0,0.2);
    --borderPadding: 6.75vw;
}